Bootstrap Course

https://youtu.be/O_9u1P5YjVc

Bootstrap documentation

https://getbootstrap.com/docs/5.3/getting-started/introduction/

Left Off

https://youtu.be/NRoET8-8cbw?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=1


Utility Classes

Margin and padding

https://youtu.be/nCeHeA7IsvU?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=307

Borders 

https://youtu.be/nCeHeA7IsvU?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=561

Containers

https://youtu.be/Y6q8R-9y6a0?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=30

Grid

https://youtu.be/irfbn103AzE?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=12

Justify row 

https://youtu.be/irfbn103AzE?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=667

Alt click makes multiple cursors in Visual Studio, also div. etc starts a container or class so for eg; refer to video above in grid.

Navbars

https://youtu.be/7AT1X9Z41sA?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=186

More in-depth Navbars

https://youtu.be/7AT1X9Z41sA?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=590


Cards

https://youtu.be/NRoET8-8cbw?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=330

Accordion

https://youtu.be/cVThXv6hYW0?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=268

List Groups

https://youtu.be/gwgeMole3gs?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=149

Bootstrap Icons

https://youtu.be/rhvMRsE_6sY?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=8

Forms form control, form label, form select, input group, input group text

https://youtu.be/dKVX22GR7zQ?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=9

Tooltips

https://youtu.be/WTrW-1JsDYE?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=13

Modal

https://youtu.be/tt5uUMQgzl0?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=10

Offcanvas

https://youtu.be/aUVTxD5MasM?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=155

Dropdowns

https://youtu.be/lu4HFx3bzy8?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=10

Customizing Bootstrap scss sass files

https://youtu.be/nCX3QVl_PiI?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=19

SASS Live Sass Compiler

https://youtu.be/nCX3QVl_PiI?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=432

Tabs

https://youtu.be/IMM93WydBSw?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=9



