Bootstrap Course

https://youtu.be/O_9u1P5YjVc

Bootstrap documentation

https://getbootstrap.com/docs/5.3/getting-started/introduction/

Left Off

https://youtu.be/NRoET8-8cbw?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=1


Utility Classes

Margin and padding

https://youtu.be/nCeHeA7IsvU?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=307

Borders 

https://youtu.be/nCeHeA7IsvU?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=561

Containers

https://youtu.be/Y6q8R-9y6a0?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=30

Grid

https://youtu.be/irfbn103AzE?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=12

Justify row 

https://youtu.be/irfbn103AzE?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=667

Alt click makes multiple cursors in Visual Studio, also div. etc starts a container or class so for eg; refer to video above in grid.

Navbars

https://youtu.be/7AT1X9Z41sA?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=186

More in-depth Navbars

https://youtu.be/7AT1X9Z41sA?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR&t=590

